body {
    font-family: sans-serif;
}

/* more common classes  */

.button {
    padding:5px 10px;
    border-style: none;
    color: white;
}

.blue {
    background-color: #0061fe;
}


/* start header section */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #b4d0e6;
}

.left_header {
    display: flex;
    align-items: center;
    gap: 2em;
}

.left_header figure img{
    display: block;
}

.right_header {
    display: flex;
    align-items: center;
    gap: 2em;
}

/* start main sections  */

.light_blue {
    background-color: #b4d0e6;
    position: relative;
}

.container_80 {
    width: 80%;
    margin: 0 auto;
}

section div h1 {
    font-size: 3rem;
    font-weight: 900;
    padding-block: 1em;
}

.first_section {
    display: flex;

}

/* set dimensions of my container  */
.first_section_text{
    flex-basis: 40%;
}

.first_section figure {
    flex-basis: 60%;
}


.first_section figure img {
    width: 100%;
}

.first_section_text > p {
    padding-bottom: 2em;
}

.first_section_text p:last-child {
    padding-top: 2em;
}


