body {
    font-family: sans-serif;
}

/* more common classes  */

.button {
    padding:5px 10px;
    border-style: none;
    color: white;
}

.blue {
    background-color: #0061fe;
}


/* start header section */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #b4d0e6;
    background-color: white;
}

.left_header {
    display: flex;
    align-items: center;
    gap: 1em;
}

.left_header figure img{
    display: block;
}

.right_header {
    display: flex;
    align-items: center;
    gap: 1em;
}

/* start main sections  */

.light_blue {
    background-color: #b4d0e6;
}

.container_80 {
    width: 80%;
    margin: 0 auto;
}

.container_60 {
    width: 60%;
    margin: 0 auto;
}

section div h1 {
    font-size: 3rem;
    font-weight: 900;
    padding-block: 1em;
}

.first_section {
    display: flex;

}

/* set dimensions of my container  */
.first_section_text{
    flex-basis: 30%;
}

.first_section figure {
    flex-basis: 70%;
}


.first_section figure img {
    width: 100%;
}

.first_section_text > p {
    padding-bottom: 2em;
}

.first_section_text .last_text{
    padding-top: 2em;
}

/* start second section  */

h2 {
    padding-block: 1em;
}

.dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
}

.dot_blue {
    border: 4px solid;
    border-color: #0061fe;
}

.dot_grey {
    border: 3px solid #d0d0d2;
}

.radio_buttons {
    display: flex;
    gap: 2em;
    font-size: 12px;
    padding-bottom: 2em;

}

.radio_buttons .radio {
    display: flex;
    align-items: center;
}

/* start second section table  */

.second_section {
    display: flex;
    justify-content: center;
}

.main_column {
    flex-basis:calc(100% / 3);
}

/* start third section  */
.third_section {
    display: flex;
}

.button_left {
    flex-basis: 70%;
}

.button_right {
    flex-basis: 30%;
}

/* start fourth section  */

.fourth_section {
    display: flex;

}

.fourth_section_text {
    flex-basis: 40%;
}

.fourth_section figure {
    flex-basis: 60%;
}

.fourth_section figure img {
    width: 100%;
}

/* start fifth section  */

.fifth_section {
    display: flex;
    flex-wrap: wrap;
}

.fifth_section figure img {
    width: 100%;
}

.fifth_section_element {
    flex-basis: calc(100% / 3);
}
