body {
    font-family: sans-serif;
}

/* more common classes  */

.button {
    padding:5px 10px;
    border-style: none;
    color: white;
}

.blue {
    background-color: #0061fe;
}


/* start header section */

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    position: sticky;
    top: 0;
    border-bottom: 1px solid #b4d0e6;
    background-color: white;
}

.left_header {
    display: flex;
    align-items: center;
    gap: 1em;
}

.left_header figure img{
    display: block;
}

.right_header {
    display: flex;
    align-items: center;
    gap: 1em;
}

/* start main sections  */

.light_blue {
    background-color: #b4d0e6;
    background: linear-gradient(#b4d0e6 80%, #fff 20%);
}

.container_80 {
    width: 80%;
    margin: 0 auto;
}

.container_60 {
    width: 60%;
    margin: 0 auto;
}

section div h1 {
    font-size: 3rem;
    font-weight: 900;
    padding-block: 1em;
}

.first_section {
    display: flex;
}

/* set dimensions of my container  */
.first_section_text{
    flex-basis: 30%;
}

.first_section_text {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.first_section_text button {
    width: 70%;
}


.first_section figure {
    flex-basis: 70%;
}


.first_section figure img {
    width: 100%;
}

.first_section_text > p {
    padding-bottom: 1em;
}

.first_section_text .last_text{
    padding-top: 2em;
}

.first_section_text .fa-arrow-down {
    font-size: 3rem;
}

main hr {
    border: 1px solid #d0d0d2;
}

/* start second section  */

h2 {
    padding-block: 1em;
}

.dot {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: inline-block;
}

.dot_blue {
    border: 4px solid;
    border-color: #0061fe;
}

.dot_grey {
    border: 3px solid #d0d0d2;
}

.radio_buttons {
    display: flex;
    gap: 2em;
    font-size: 12px;
    padding-bottom: 2em;

}

.radio_buttons .radio {
    display: flex;
    align-items: center;
}

/* start second section table  */

.second_section {
    display: flex;
    gap: 1em;
    justify-content: space-between;
}

.main_column {
    flex-basis:calc(100% / 3 - 1em);
    border: 1px solid #d0d0d2;
}

.header_column {
    padding-block: 10px;
    text-align: center;
    border-bottom: 1px solid #d0d0d2;
}

.bottom_column {
    display: flex;
    flex-direction: column;
    gap:1em;
    padding-block: 20px;
}

.main_column h3 {
    padding-top: 10px;
    padding-inline: 15px;
}

.main_column .price {
    padding-inline: 15px;
}


.text_grey {
    color: #d0d0d2;
}

.month {
    padding-inline: 15px;
}

.bottom_column figure {
    padding-inline: 15px;
}

.main_column button {
    margin: 15px;
    max-width: 70%;
}

.main_column .buynow {
    padding-inline: 15px;
}

.main_column .main_point {
    padding-inline: 15px;
    font-weight: bold;

}

 .main_column hr {
    width: 10%;
    margin-inline: 15px;
    border:1px solid #d0d0d2;

}

.main_column figure .fa-check {
    color: #0061fe;
}


/* start third section  */
.header_column_bottom {
    text-align: center;
    margin-top: 1em;
    border: 1px solid #d0d0d2;
    padding-block: 10px;
}

.third_section {
    display: flex;
    margin-bottom: 6em;
}

.button_left {
    flex-basis: 70%;
    border-bottom:1px solid #d0d0d2;
    border-left:1px solid #d0d0d2;
}

.button_left_description {
    display: flex;
    flex-direction: column;
    gap: 1em;
    padding: 15px;
}

.button_right {
    flex-basis: 30%;
    padding: 15px;
    border-right: 1px solid #d0d0d2;
    border-bottom:1px solid #d0d0d2;
}

/* start fourth section  */

.fourth_section {
    display: flex;
    margin-bottom: 3em;

}

.fourth_section_text {
    flex-basis: 40%;
    padding: 30px;
}

.fourth_section_text_description {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.fourth_section_text_description button {
    border: 1px solid black;
    background-color: #fff;
    color:black;
    max-width: 70%;
}

.fourth_section figure {
    flex-basis: 60%;
}

.fourth_section figure img {
    width: 100%;
}

/* start fifth section  */

.fifth_section {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
}

.fifth_section figure img {
    width: 100%;
}

.fifth_section_element {
    flex-basis: calc(100% / 3 - 1em);
}

.fifth_section_element h3 {
    margin-bottom: 1em;
}

/* start six section  */

.six_section {
    margin-block: 5em;
}

/* start footer  */

footer {
    background-color: black;
    color: #fff;
}

.footer_container {
    display: flex;
    gap: 5%;
    padding: 15px;
}

.footer_element {
    flex-basis: calc(90% / 5);
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.footer_element h3 {
    margin-bottom: 10px;
}

.footer_element > p {
    color: #e4e4dd;
}

.bottom_footer {
    padding: 15px;
}

.bottom_footer hr {
   width: 20%;
   margin-bottom: 20px;
}

